body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.totalLabel {
  font-size: 25px; 
}

.inlineLeftMargin {
  margin-left: 20px;
}

.optionsContainer {
  margin-left: 20px;
}